{% extends 'tasks/base.html' %}

{% block pagename %}
Rin's Blog - Post {{ post.pk }}
{% endblock%}


{% block maincontent %}

        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <div class="post">
          <h1> {{ task.title }}</h1>

          <div class="date">
            <p>Status: {{ task.status }}</p>
          </div>


          <p>{{ task.description |linebreaksbr }}</p>
          <hr />
          {% if task.related_deliv %}

            <strong>Related Deliverable:</strong> <a href="{% url 'deliverable_details' task.related_deliv_id %}">{{ task.related_deliv }}</a>

          {% endif %}
        </div>

{% endblock%}
